In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# import data
bgd = pd.read_csv('D:/vscode/python/unbdh/data/raw/bangladesh/wfp_food_prices_bgd.csv')

In [10]:
# check data 
bgd.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1261.4,12.5236
2,1998-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1055.6,10.4804
3,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1288.75,12.7952
4,1998-08-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1060.0,10.5241

In [11]:
# describe data
bgd.describe()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
count,9497,9497,9497,9497,9497,9497,9497,9497,9497,9497,9497,9497,9497,9497
unique,293,9,64,74,74,74,4,9,4,3,3,2,4614,4649
top,2020-07-15,Dhaka,Dhaka,Dhaka,23.81,90.41,cereals and tubers,Oil (palm),KG,actual,Retail,BDT,33.0,0.3276
freq,188,2582,1954,1191,1191,1191,5244,2295,6489,5048,8784,9496,121,121

In [12]:
bgd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9497 entries, 0 to 9496
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       9497 non-null   object
 1   admin1     9497 non-null   object
 2   admin2     9497 non-null   object
 3   market     9497 non-null   object
 4   latitude   9497 non-null   object
 5   longitude  9497 non-null   object
 6   category   9497 non-null   object
 7   commodity  9497 non-null   object
 8   unit       9497 non-null   object
 9   priceflag  9497 non-null   object
 10  pricetype  9497 non-null   object
 11  currency   9497 non-null   object
 12  price      9497 non-null   object
 13  usdprice   9497 non-null   object
dtypes: object(14)
memory usage: 1.0+ MB

In [13]:
# remove duplicate rows
bgd = bgd.drop_duplicates()

In [15]:
# remove rows with missing values
bgd = bgd.dropna()

In [16]:
bgd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497 entries, 0 to 9496
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       9497 non-null   object
 1   admin1     9497 non-null   object
 2   admin2     9497 non-null   object
 3   market     9497 non-null   object
 4   latitude   9497 non-null   object
 5   longitude  9497 non-null   object
 6   category   9497 non-null   object
 7   commodity  9497 non-null   object
 8   unit       9497 non-null   object
 9   priceflag  9497 non-null   object
 10  pricetype  9497 non-null   object
 11  currency   9497 non-null   object
 12  price      9497 non-null   object
 13  usdprice   9497 non-null   object
dtypes: object(14)
memory usage: 1.1+ MB

In [20]:
# remove columns admin1, admin2, longitude, latitude
bgd = bgd.drop(['admin1', 'admin2', 'longitude', 'latitude'], axis=1)

In [22]:
bgd.head()

,date,market,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#loc+market+name,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,1998-07-15,Dhaka,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1261.4,12.5236
2,1998-07-15,Dhaka,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1055.6,10.4804
3,1998-08-15,Dhaka,cereals and tubers,"Rice (coarse, BR-8/ 11/, Guti Sharna)",100 KG,actual,Wholesale,BDT,1288.75,12.7952
4,1998-08-15,Dhaka,cereals and tubers,Wheat,100 KG,actual,Wholesale,BDT,1060.0,10.5241

In [23]:
# market unique values
bgd.market.unique()

array(['#loc+market+name', 'Dhaka', 'Dhaka Division',
       'Chittagong Division', 'Khulna Division', 'Rajshahi Division',
       'Barisal Division', 'Sylhet Division', 'Rangpur Sadar',
       'Mymensing Sadar', 'Barguna Sadar', 'Barisal Sadar', 'Bhola Sadar',
       'Jhalokati Sadar', 'Patuakhali Sadar', 'Pirojpur Sadar',
       'Bandarban Sadar', 'Brahmonbaria Sadar', 'Chittagong Sadar',
       'Patiya Sadar', 'Comilla Sadar', 'Cox`s Bazar Sadar', 'Feni Sadar',
       'Khagrachari Sadar', 'Laxmipur Sadar', 'Noakhali Sadar',
       'Rangamati Sadar', 'Dhaka Sadar', 'Faridpur Sadar',
       'Gazipur Sadar', 'Kishoregonj Sadar', 'Madaripur Sadar',
       'Manikganj Sadar', 'Munshiganj Sadar', 'Narayanganj Sadar',
       'Narsingdi Sadar', 'Rajbari Sadar', 'Shariatpur Sadar',
       'Tangail sadar Market', 'Bagerhat Sadar', 'Chuadanga Sadar',
       'Jessore Sadar', 'Khulna Sadar', 'Kushtia Sadar', 'Magura Sadar',
       'Meherpur Sadar', 'Narail Sadar', 'Satkhira Sadar',
       'Jamalpur Sadar', 'Netrakona Sadar', 'Sherpur Sadar',
       'Bogra Sadar', 'Jaipurhat Sadar', 'Naogaon Sadar', 'Natore Sadar',
       'Nawabgonj Sadar', 'Pabna Sadar', 'Rajshahi Sadar',
       'Sirajgonj Sadar', 'Dinajpur Sadar', 'Gaibandha Sadar',
       'Kurigram Sadar', 'Lalmonirhat Sadar', 'Nilphamari Sadar',
       'Panchagarh Sadar', 'Thakurgaon Sadar', 'Habigonj Sadar',
       'Maulavibazar Sadar', 'Sunamgonj Sadar', 'Sylhet Sadar',
       'Gopalgonj Sadar', 'Jhenaidah Sadar',
       'Rangpur Municipality Market', 'Chandpur Sadar'], dtype=object)

In [27]:
# pricetype unique values
bgd.pricetype.unique()

array(['#item+price+type', 'Wholesale', 'Retail'], dtype=object)

In [28]:
# priceflag unique values
bgd.priceflag.unique()

array(['#item+price+flag', 'actual', 'aggregate'], dtype=object)

In [29]:
# currency unique values
bgd.currency.unique()

array(['#currency', 'BDT'], dtype=object)

In [31]:
# unit unique values
bgd.unit.unique()

array(['#item+unit', '100 KG', 'KG', 'L'], dtype=object)

In [33]:
# convert price and usdprice to numeric
bgd['price'] = pd.to_numeric(bgd['price'], errors='coerce')
bgd['usdprice'] = pd.to_numeric(bgd['usdprice'], errors='coerce')

In [34]:
bgd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9497 entries, 0 to 9496
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       9497 non-null   object
 1   market     9497 non-null   object
 2   category   9497 non-null   object
 3   commodity  9497 non-null   object
 4   unit       9497 non-null   object
 5   priceflag  9497 non-null   object
 6   pricetype  9497 non-null   object
 7   currency   9497 non-null   object
 8   price      9496 non-null   float64
 9   usdprice   9496 non-null   float64
dtypes: float64(2), object(8)
memory usage: 816.1+ KB

In [35]:
# plot price by market
plt.figure(figsize=(20,10))
sns.barplot(x='market', y='price', data=bgd)

In [36]:
# pointplot price by market
plt.figure(figsize=(20,10))
sns.pointplot(x='market', y='price', data=bgd)

In [44]:
# visualize data
sns.pairplot(bgd)